.cabecera {
    background: linear-gradient(to right, #f7d79c, #7c78d1e5);
    width: 100vw;
    height: 100px;
    border-width: 3px;
    box-shadow: 0 0 10px 1px #000;
    top: 0;
    position:sticky;
    display: flex;
    justify-content: space-between;
    z-index: 1000;
    font-size: 0.9em;
    
}


body{   
    margin: 0;
    padding: 0;
    height: 100vh;
    background: linear-gradient(#e6cfcb, #8b1620);
    color: white;    
    overflow-x: hidden;
    font-family: sans-serif;
}

.NavBarButtoms {
    display: inline-block;
    font-size: 2.5em;
    margin: 20px;
    text-decoration: none;
    color:black;
    

}

.NavBarButtoms:hover{
    background-color: #8a0c1222;
    color: #682727;
    border-radius: 15px;
}

p{
    font-size: 1.5em;
}

div{
    display: inline-flex;
    margin-right: 20px;
}

img{
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
}

video{
    width: 400px;
    height: 710px;
    object-fit: cover;
    margin: 10px 5px;
    border: 1px solid white;
    
}

.ul-navbar {
    display: flex; 
    list-style: none; 
    padding: 0; 
    margin: 0;
    margin-left: auto;
    padding-left: 100px;
}

.video-cont{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; 
    max-width: 1280px;
    margin: auto;
}

li{
    margin-top: 5px;
}

.descripcion{
    display: inline;
    text-align: center;
}

.categoria{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.3em;
    color:wheat;
    padding: 0 50px;
    display: inline-block;
}

.categoria:hover{
    color: white;
}
.lista-categoria{
    width: 100%;
    display: flex;
    padding: 0px 10px;
    margin: 0 10px;
    list-style: none;
}
.menu {
    list-style: none;
    padding: 0;
    display: flex;
    max-width: 80%;
}

.menu > li {
    position: relative;
}

.sublista {
    display: none; 
    list-style: none; 
    padding: 0;
    position: absolute; 
    left: 100px; 
    top: 100%; 
    background-color: #eee9; 
    border: 1px solid #ccc; 
    z-index: 1000;
}

.sublista li {
    padding: 10px;
}

.sublista li a {
    color: black; 
    text-decoration: none; 
}

/*FORUMULARIO DE CONTACTO*/

.contactanos{
        display:grid;
        grid-template-columns:  1fr 1fr;
        padding:20px;
        gap: 20px;
        width: 80%;
        text-align: center;   
        justify-content: space-between;
        align-items: flex-start;
        max-width: 1200px;
        margin: 0 auto;
        border-radius: 20px;
}
.box-info, form {
    width: 100%; 
}

.box-info {
    color:#fff;
    display:grid;
    flex-direction: column;
    gap:20px;
    grid-auto-rows: min-content;
    padding-right: 20px;
}

.box-info > h1 {
    text-align: left;
    letter-spacing: 3px;
    font-size: 4rem;
   
}

.data {
    display: flex;
    flex-direction: column;
    gap:20px;
}

.data > p {
    font-size: 2rem;
    display: flex;
    align-items: center; 
}

.data > p > i {
    color:crimson;
    margin-right: 15px;
    font-size:2rem;
}

.links {
    display:flex;
    gap:15px;
}

.links > a {
    text-decoration: none;
    width: 80px;
    height: 50px;
    background: crimson;
    text-align:center;
    transition: .1s;
}

.links > a > i {
    color:#fff;
    line-height: 50px;
    font-size: 30px;
}

form {
    margin-top: 130px;
    display:grid;
    grid-auto-rows: min-content;
    flex-direction: column;
    text-align: center;
    gap:35px;
}

.input-box {
    position:relative;
}

.input-box > input {
    width: 100%;
    height: 25px;
    padding: 18px;
    outline:none;
    background: rgba(255 255 255 / .1);
    border:4px solid transparent;
    letter-spacing: 3px;
    transition:.8s;
    color:#fff;
    font-size: 1.3rem;
}

.input-box > input::placeholder,
.input-box > textarea::placeholder {
    color:#1d1515;
    
}

.input-box > input:focus:placeholder,
.input-box > textarea:focus:placeholder {
    color:transparent;
}

.input-box > input:focus,
.input-box > textarea:focus {
    border-bottom:5px solid crimson;
    animation: shake .6s;
}

.input-box > textarea {
    width: 100%;
    height: 130px;
    padding: 10px;
    background: rgba(255 255 255 / .1);
    border:3px solid transparent;
    letter-spacing: 1px;
    outline: none;
    transition:.3s;
    color:#fff;
    letter-spacing: 3px;
    font-size: 1.3rem;
}


.input-box > i {
    position:absolute;
    top:50%;
    transform: translateY(-50%);
    right: 10px;
    color:rgba(255 255 255 / .3);
    transition: .3s;
    font-size: 1.5rem;
}

.input-box > input:focus ~ i {
    color:crimson;
}

form > button {
    width: 100%;
    padding: 15px;
    outline: none;
    background: crimson;
    color:#fff;
    border:none;
    transition: .1s;
    cursor: pointer;
    font-size: 1.rem;
}

form > button:hover,
.links > a:hover {
    background: rgb(172, 16, 47);
}

@keyframes shake { 
    0%, 100% {transform: translateX(0);} 
    10%, 30%, 50%, 70%, 90% {transform: translateX(-10px);} 
    20%, 40%, 60%, 80% {transform: translateX(10px);} 
 }


@media screen and (max-width:600px) {
    .container {
        width: 95%;
        display: flex;
        flex-direction: column;
        gap:20px;
        grid-template-columns: 1fr; 
    }

    .box-info {
        gap:15px;
        padding-right: 0;
        text-align: center;
    }

    .box-info > h1 {
        font-size: 1.5rem;
    }
    
    form {
        width: 100%;
    }
}

