body, html{   
    margin: 0;
    padding: 0;
    height: 100%;
    background: linear-gradient(#A76285, #FDCA9B);
    color: white;    
    overflow-x: hidden;
    font-family: nonito;
}

/*Barra de navegacion*/
.navbar {
    background: linear-gradient(to right,  #fad97df1, #ccc);
    width: 100vw;
    height: 100px;
    border-width: 3px;
    box-shadow: 0 0 10px 1px #000;
    top: 0;
    position:sticky;
    display: flex;
    justify-content: space-between;
    z-index: 1000;
    font-size: 0.9em;
    
    
}

.navbar__item {
    display: inline-block;
    font-size: 2.5em;
    margin: 20px;
    text-decoration: none;
    color:black;
    font-weight: 700;
    font-family: nonito;
}
.navbar__ul {
    display: flex; 
    list-style: none; 
    padding: 0; 
    margin: 0;
    margin-left: auto;
    padding-left: 100px;
}

.navbar__item:hover{
    color: #fbff00;
}

.navbar__img{
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
}

/*Dibukids en colores*/
.titulo{
    margin: 20px;
}
span{
    
    font-family: cursiva;
    font-weight: 800;
    font-size: 2.5em;
    
}
#titulo span:nth-child(1) {
    color: #FF6F61;
}

#titulo span:nth-child(2) {
    color: #FF9A76;
}

#titulo span:nth-child(3) {
    color: #FFD166;
}

#titulo span:nth-child(4) {
    color: #06D6A0;
}

#titulo span:nth-child(5) {
    color: #4ECDC4;
}

#titulo span:nth-child(6) {
    color: #9D84B7;
}

#titulo span:nth-child(7) {
    color: #F4A6D7;
}

#titulo span:nth-child(8) {
    color: #F8B195;
}

#titulo span:nth-child(9) {
    color: #89C2D9;
}

.descripcion__parrafo{
    font-size: 1.2em;
    margin: auto;
    text-align: center;
    font-weight: 700;
}

/*Catalogo*/

.catalogo {
    margin: 1px 20px;
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    gap: 20px;

    
}

.catalogo__item{
    font-family: nonito;
    font-weight: 700;
    font-size: 1.8em;
    color:wheat;
    display: flex;
    flex-flow: column wrap;
    border: 3px solid black;
    flex-grow: 2;
    justify-content: center;
    align-items: stretch;
    align-content: center;
    text-align: center;
    cursor: pointer;
}

.catalogo__item label{
    cursor: pointer;
}

.catalogo__item:hover{
    color: white;
    
}

.catalogo__subitem {
    display: flex;
    flex-direction: column;
    border: 2px solid red;
    margin-bottom: 15px;
}

.catalogo__subitem__img{
    width: 250px;
}


/*pie de pagina*/
.piepagina{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex-basis: auto;
    border: 3px solid black;
    justify-content: space-between;
    margin: 30px;
    
    
}

.piepagina__titulo{
    flex-basis: 190px;
    border-bottom: 4px solid white;
}

.piepagina__subcaja{
    padding: 0 20px;
    border-left: 5px groove white;
}

.piepagina__subcaja:first-child{
    border-left: none;
}