body, html{   
    margin: 0;
    padding: 0;
    height: 100%;
    background: linear-gradient(#e6cfcb, #8b1620);
    color: white;    
    overflow-x: hidden;
    font-family: sans-serif;
}

/*Barra de navegacion*/
.navbar {
    background: linear-gradient(to right, #f7d79c, #7c78d1e5);
    width: 100vw;
    height: 100px;
    border-width: 3px;
    box-shadow: 0 0 10px 1px #000;
    top: 0;
    position:sticky;
    display: flex;
    justify-content: space-between;
    z-index: 1000;
    font-size: 0.9em;
    
}


.navbar__item {
    display: inline-block;
    font-size: 2.5em;
    margin: 20px;
    text-decoration: none;
    color:black;
}
.navbar__ul {
    display: flex; 
    list-style: none; 
    padding: 0; 
    margin: 0;
    margin-left: auto;
    padding-left: 100px;
}

.navbar__item:hover{
    background-color: #8a0c1222;
    color: #682727;
    border-radius: 15px;
}

.navbar__img{
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
}


/*Descripcion y titulo*/
.descripcion{
    text-align: center;
    margin-right: 20px;
}

.descripcion__parrafo{
    margin: 0;
    font-size: 1.5em;
}

.descripcion__titulo{
    margin: 10px;
    font-size: 2.5em;
}

/*Contenedor video*/
.blockvideo{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: 1280px;
    margin: auto;
}

.blockvideo__item{
    width: 400px;
    height: 710px;
    object-fit: cover;
    margin: 10px 5px;
    border: 1px solid white;
    flex-shrink: 3;
    
}

.blockvideo__button{
    height: 50px;
    position: absolute;
    z-index: 5000;
    top: 500px;
    display: inline-block;
}

.blockvideo__button:first-child{
    left: 100px;
}

.blockvideo__button:last-child{
    right: 100px;
}






