/*Barra de navegacion*/
.navbar {
    background: linear-gradient(to right,  #fad97df1, #06ebb2a6);
    width: 100vw;
    height: 100px;
    border-width: 3px;
    box-shadow: 0 0 10px 1px #000;
    top: 0;
    position:sticky;
    display: flex;
    justify-content: space-between;
    z-index: 1000;
    font-size: 0.9em;
    
}

.navbar__item {
    display: inline-block;
    font-size: 2.5em;
    margin: 20px;
    text-decoration: none;
    color:black;
    font-weight: 700;
}
.navbar__ul {
    display: flex; 
    list-style: none; 
    padding: 0; 
    margin: 0;
    margin-left: auto;
    padding-left: 100px;
}

.navbar__item:hover{
    color: #fbff00;
}

.navbar__img{
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
}

  body {
    background: url('Imagenes/contacto/fondo.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: 'Verdana', sans-serif;
    margin: 0; 
  }

  /*FORMULARIO*/

.contactanos {
    display: flex;
    grid-template-columns: 1fr 1fr; 
    gap: 20px;
    width: 80%;
    margin: 60px auto;
    background-color: #f7f7f7;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    justify-content: space-between; 
}

/* Estilos para la información de contacto */
.info {    
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    width: 55%; 
}

.info h1 {
    font-size: 3em;
    margin-bottom: 20px;
    color: #0a8f46;
}

.info .datos p {
    font-size: 1.8rem;
    margin: 10px 2;
}
.icon{
    width: 30px;
    padding-right: 15px;
    height: 30px;
}
.info .links {

    display: flex;
    justify-content: start;  
    margin-top: 20px;        
    
}
.info .links a {
    text-decoration: none;    
    background-color: #3b5998; 
    padding: 5px;
    border-radius: 50%;
    margin-right: 10px;       
    width: 40px;              
    height: 40px;
    display: flex;
    margin: 0 auto;
}

.info .links a:hover {
    background-color: #1da1f2; 
}

/* Estilos para el formulario */
form {
    display: grid;
    gap: 25px;
    flex-direction: column;
    width: 50%;
}

.inputt input, .inputt textarea {
    width: 90%;
    padding: 15px;
    font-size: 1.6em;
    border: 2px solid #ccc;
    border-radius: 5px;
    transition: 0.3s;
}

button {
    padding: 15px;
    background-color: #0051ff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.7rem;
}

button:hover {
    background-color: #0056b3;
}
